* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto';
    font-style: normal;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.input {
    outline: none;
    font-size: 16px;
    color: #BFBFBF;
    padding: 5px 12px 5px 32px;
    line-height: 24px;
}

.button__block {
    display: flex;
    justify-content: space-between;
    width: 220px;
}

.button {
    padding: 8px 16px;
    outline: none;
    cursor: pointer;
    background: transparent;
    border: 1px solid #D9D9D9;
    /* ghost button shadow */
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
    border-radius: 2px;
    color: #595959;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.button__img {
    margin-right: 4px;
}

.button--primary {
    background: #1890FF;
    color: #FFFFFF;
    border: none;
    border-radius: 2px;
}

/* настройка header */
.header {
    padding-top: 44px;
    padding-bottom: 40px;
}

.header__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__input {
    max-width: 690px;
    width: 100%;
}

/* настройка promo */
.promo__block {
    background: url(../img/promo.png) no-repeat right;
    background-color: #FFF1B8;
    border-radius: 10px;
    padding: 68px 0;
    padding-left: 71px;
}
.promo__title {
    width: 405px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 39px;
    line-height: 46px;
    color: #302C34;
}
.promo__subtitle {
    display: block;
    width: 480px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #302C34;
}